@view(sc-button-view) {
  border: 0px none;
  color: #777;
  font-weight:bold;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, .75);
  
  .button-left {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 3px;
    /* Implementations must provide: 
    margin-top:-12px;
    height: 24px;
    background: spr ite("normal_button.png" [0 8]);
    */
  }
  
  .button-right {
    position: absolute;
    top: 50%;
    right: 0px;
    width: 3px;
  }
  
  .button-middle {
    position: absolute;
    top: 50%;
    left: 3px;
    right: 3px;
  }
  
  .sc-button-label {
    position: absolute;
    top: 50%;
    left: 3px;
    right: 3px;
  }
}

/* Active */
@view(sc-button-view).active {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, .75);
}

/* Selected */
@view(sc-button-view).sel, @view(sc-button-view).def {
  color: #fff;
  font-weight:200;
  text-shadow: 0px -1px 0px rgba(0,0,0,.45);
}

/* Disabled */
@view(sc-button-view).disabled {
  opacity: .5;
}
