@theme(sc-regular-size)

@view(sc-slider-view){
  
  .sc-track .sc-left {
    width:2px;
    height: 6px;
    background: sprite("track.png" [0 2]);
  }
  .sc-track .sc-middle {
    left:2px;
    right:2px;
    height: 6px;
    background: sprite("track.png" repeat-x [2, 1]);
  }
  .sc-track .sc-right {
    width:2px;
    height: 6px;
    background: sprite("track.png" [-2]);
  }
  
  .sc-handle {
    width: 15px; height: 17px; top: 50%; margin-top: -7px;
    background: sprite("knob.png");
  }
  
}

@view(sc-slider-view).active {
  .sc-handle {
    background: sprite("knob_focus.png");    
  }
}

@end