/* */
@view(sc-panel.sc-picker.sc-menu) .sc-menu-scroll-view {
  background:  rgba(251,251,251,.92);
  border: 0px none;
}

@view(sc-panel.sc-picker.sc-menu) .sc-menu-item {
  background: transparent;
  border: 0px none;
  -webkit-box-shadow: none;
  -webkit-border-radius: 0px;
}

@view(sc-panel.sc-picker.sc-menu) .sc-menu-item a span.value {
  margin-left: 20px;
  line-height: 20px; /* You want it slightly high for characters with descenders */
}

@view(sc-panel.sc-picker.sc-menu) .sc-button-view.focus a,
.sc-menu-item a:hover {
  color: white;
  background: sprite(menu_item.png repeat-x [0 1]);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, .45);
}

@view(sc-panel.sc-picker.sc-menu) .sc-button-view.disabled.focus a,
.sc-menu-item.disabled a:hover {
  color: white;
  background: transparent;
}

/* Checkboxes */
@view(sc-panel.sc-picker.sc-menu) .sc-menu-item .checkbox {
  top: 7px;
  width: 4px; height: 5px;
  background: sprite(checkmark.png);
}

@view(sc-panel.sc-picker.sc-menu) .sc-menu-item.focus .checkbox, 
@view(sc-panel.sc-picker.sc-menu) .sc-menu-item:hover .checkbox {
  top:6px;
  background: sprite(checkmark_active.png);
}

/* Separators */
.sc-menu-item span.separator {
  margin-left: 0px;
  position: absolute;
  left: 5px;
  right: 5px;
  top: 2px;
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(200, 200, 200);
}

/* Up and Down, like a trampoline */
@view(sc-panel.sc-picker.sc-menu) .sc-menu-scroller-view {
  background: transparent;
}

@view(sc-panel.sc-picker.sc-menu) .sc-menu-scroller-view .arrowUp {
  position:absolute;
  left: 50%;
  top: -2px;
  margin-left: -3px;
  height: 5px;
  width: 7px;
  background: sprite(up.png);
}

@view(sc-panel.sc-picker.sc-menu) .sc-menu-scroller-view .arrowDown {
  position:absolute;
  left: 50%;
  bottom: -2px;
  margin-left: -3px;
  height: 5px;
  width: 7px;
  background: sprite(down.png);
}

/* Corners */
@view(sc-panel.sc-picker.sc-menu) .top-left-edge {
  /* I suppose we'll have to replace these with images... */
  background: sprite("menu.png" [0 0 11 11]);
  left: -11px;
  top: -11px;
  width: 11px;
  height: 11px;
}

@view(sc-panel.sc-picker.sc-menu) .top-right-edge {
  /* I suppose we'll have to replace these with images... */
  background: sprite("menu.png" [-11 0 11 11]);
  right: -11px;
  top: -11px;
  width: 11px;
  height: 11px;
}

@view(sc-panel.sc-picker.sc-menu) .bottom-left-edge {
  /* I suppose we'll have to replace these with images... */
  background: sprite("menu.png" [0 -11 11 11]);
  left: -11px;
  bottom: -11px;
  width: 11px;
  height: 11px;
}

@view(sc-panel.sc-picker.sc-menu) .bottom-right-edge {
  /* I suppose we'll have to replace these with images... */
  background: sprite("menu.png" [-11 -11 11 11]);
  right: -11px;
  bottom: -11px;
  width: 11px;
  height: 11px;
}


/* Edges */
@view(sc-panel.sc-picker.sc-menu) .bottom-edge {
  /* I suppose we'll have to replace these with images... */
  background: sprite("menu.png" repeat-x [11 -11 1 11]);
  left: 0px;
  right: 0px;
  bottom: -11px;
  height: 11px;
}

@view(sc-panel.sc-picker.sc-menu) .top-edge {
  /* I suppose we'll have to replace these with images... */
  background: sprite("menu.png" repeat-x [11 0 1 11]);
  left: 0px;
  right: 0px;
  top: -11px;
  height: 11px;
}

@view(sc-panel.sc-picker.sc-menu) .left-edge {
  /* I suppose we'll have to replace these with images... */
  background: sprite("menu.png" repeat-y [0 11 11 1]);
  top: 0px;
  bottom: 0px;
  left: -11px;
  width: 11px;
}

@view(sc-panel.sc-picker.sc-menu) .right-edge {
  /* I suppose we'll have to replace these with images... */
  background: sprite("menu.png" repeat-y [-11 11 11 1]);
  top: 0px;
  bottom: 0px;
  right: -11px;
  width: 11px;
}