.sc-main { background: #eef0f1; }
.sc-main {
  background: #eef0f1;
  height: 100%;
  font-family: Helvetica, sans-serif;
}
.sc-view { font-family: Helvetica, sans-serif; }
.sc-source-list-background { background: #d1dfe5; }
.sc-theme .sc-view.slick.sc-scroll-view.sc-source-list-background .sc-container-view { background: #d1dfe5; }
.sc-theme .sc-view.slick.sc-collection-view.sc-source-list { background: #d1dfe5; }
.sc-theme .sc-view.slick.sc-collection-view.sc-source-list .sc-list-item-view label {
  top: 50%;
  margin-top: -9px;
  font-size: 12px;
  color: #516b70;
  text-shadow: 0px 1px 1px white;
}
.sc-theme .sc-view.slick.sc-collection-view.sc-source-list .sc-collection-item.sel label {
  color: white;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.65);
}
.sc-theme .sc-view.slick.sc-collection-view.sc-source-list .sc-collection-item.sel {
  background: static_url("images/1.png") repeat-x 0 -176px;
  border-top: 1px solid #016391;
  border-bottom: 1px solid #016391;
  color: white;
  font-weight: bold;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.65);
}
.sc-theme .sc-view.slick.sc-collection-view.sc-source-list .sc-collection-item.sc-group-item {
  font-weight: bold;
  color: #516b70;
  text-shadow: 0px 1px 1px white;
  font-size: 11px;
  text-transform: uppercase;
}
.sc-theme .sc-view.slick.sc-collection-view.sc-source-list .disclosure {
  position: absolute;
  left: -12px;
  top: 9px;
  font-size: 11px;
}
.sc-theme .sc-view.slick.sc-split-divider-view {
  background: #9eaaaf;
  border: 0px none;
}
.sc-theme .sc-view.slick.sc-small-size.sc-button-view {
  color: #525252;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.65);
}
.sc-theme .sc-view.slick.sc-small-size.sc-button-view .button-left {
  margin-top: -9px;
  height: 18px;
  width: 3px;
  background: static_url("images/1.png") no-repeat 0 -933px;
}
.sc-theme .sc-view.slick.sc-small-size.sc-button-view .button-right {
  margin-top: -9px;
  height: 18px;
  width: 3px;
  background: static_url("images/1.png") no-repeat -27px -909px;
}
.sc-theme .sc-view.slick.sc-small-size.sc-button-view .button-middle {
  margin-top: -9px;
  height: 18px;
  left: 3px;
  right: 3px;
  background: static_url("images/1.png") repeat-x 0 -553px;
}
.sc-theme .sc-view.slick.sc-small-size.sc-button-view .sc-button-label {
  margin-top: -11px;
  height: 18px;
  padding-top: 0px;
}
.sc-theme .sc-view.slick.sc-small-size.sc-button-view.sel {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.45);
}
.sc-theme .sc-view.slick.sc-small-size.sc-button-view.sel .button-left { background: static_url("images/1.png") no-repeat -6px -933px; }
.sc-theme .sc-view.slick.sc-small-size.sc-button-view.sel .button-right { background: static_url("images/1.png") no-repeat -24px -909px; }
.sc-theme .sc-view.slick.sc-small-size.sc-button-view.sel .button-middle { background: static_url("images/1.png") repeat-x 0 -535px; }
.sc-theme .sc-view.slick.sc-small-size.sc-button-view.active {
  color: #525252;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.65);
}
.sc-theme .sc-view.slick.sc-small-size.sc-button-view.active .button-left { background: static_url("images/1.png") no-repeat -9px -933px; }
.sc-theme .sc-view.slick.sc-small-size.sc-button-view.active .button-right { background: static_url("images/1.png") no-repeat -15px -933px; }
.sc-theme .sc-view.slick.sc-small-size.sc-button-view.active .button-middle { background: static_url("images/1.png") repeat-x 0 -499px; }
.sc-theme .sc-view.slick.sc-small-size.sc-button-view.active .sc-button-label {
  margin-top: -9px;
  height: 18px;
  padding-top: 0px;
}
.sc-theme .sc-view.slick.sc-small-size.sc-button-view.active.sel {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.65);
}
.sc-theme .sc-view.slick.sc-small-size.sc-button-view.active.sel .button-left { background: static_url("images/1.png") no-repeat -3px -933px; }
.sc-theme .sc-view.slick.sc-small-size.sc-button-view.active.sel .button-right { background: static_url("images/1.png") no-repeat -12px -933px; }
.sc-theme .sc-view.slick.sc-small-size.sc-button-view.active.sel .button-middle { background: static_url("images/1.png") repeat-x 0 -517px; }
.sc-theme .sc-view.slick.sc-small-size.sc-button-view.active.sel .sc-button-label {
  margin-top: -9px;
  height: 18px;
  padding-top: 0px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view {
  color: #525252;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.65);
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view .button-left {
  margin-top: -12px;
  height: 24px;
  width: 3px;
  background: static_url("images/1.png") no-repeat -9px -909px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view .button-right {
  margin-top: -12px;
  height: 24px;
  width: 3px;
  background: static_url("images/1.png") no-repeat -15px -909px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view .button-middle {
  margin-top: -12px;
  height: 24px;
  left: 3px;
  right: 3px;
  background: static_url("images/1.png") repeat-x 0 -475px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view .sc-button-label {
  margin-top: -12px;
  height: 24px;
  padding-top: 2px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sel {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.45);
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sel .button-left { background: static_url("images/1.png") no-repeat -6px -909px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sel .button-right { background: static_url("images/1.png") no-repeat -3px -909px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sel .button-middle { background: static_url("images/1.png") repeat-x 0 -427px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.active {
  color: #525252;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.65);
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.active .button-left { background: static_url("images/1.png") no-repeat 0 -909px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.active .button-right { background: static_url("images/1.png") no-repeat -12px -909px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.active .button-middle { background: static_url("images/1.png") repeat-x 0 -451px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.active .sc-button-label {
  margin-top: -11px;
  height: 24px;
  padding-top: 2px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.active.sel {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.65);
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.active.sel .button-left { background: static_url("images/1.png") no-repeat -21px -909px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.active.sel .button-right { background: static_url("images/1.png") no-repeat -18px -909px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.active.sel .button-middle { background: static_url("images/1.png") repeat-x 0 -403px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.active.sel .sc-button-label {
  margin-top: -11px;
  height: 24px;
  padding-top: 2px;
}
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view {
  color: #525252;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.65);
  font-weight: bold;
}
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view .button-left {
  margin-top: -15px;
  height: 30px;
  width: 3px;
  background: static_url("images/1.png") no-repeat -18px -815px;
}
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view .button-right {
  margin-top: -15px;
  height: 30px;
  width: 3px;
  background: static_url("images/1.png") no-repeat -3px -815px;
}
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view .button-middle {
  margin-top: -15px;
  height: 30px;
  left: 3px;
  right: 3px;
  background: static_url("images/1.png") repeat-x 0 -268px;
}
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view .sc-button-label {
  margin-top: -12px;
  height: 30px;
  padding-top: 2px;
}
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view.sel {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.45);
}
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view.sel .button-left { background: static_url("images/1.png") no-repeat -6px -815px; }
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view.sel .button-right { background: static_url("images/1.png") no-repeat -9px -815px; }
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view.sel .button-middle { background: static_url("images/1.png") repeat-x 0 -238px; }
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view.active {
  color: #525252;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.65);
}
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view.active .button-left { background: static_url("images/1.png") no-repeat -12px -815px; }
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view.active .button-right { background: static_url("images/1.png") no-repeat -15px -815px; }
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view.active .button-middle { background: static_url("images/1.png") repeat-x 0 -298px; }
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view.active .sc-button-label {
  margin-top: -11px;
  height: 30px;
  padding-top: 2px;
}
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view.active.sel {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.65);
}
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view.active.sel .button-left { background: static_url("images/1.png") no-repeat -24px -815px; }
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view.active.sel .button-right { background: static_url("images/1.png") no-repeat -21px -815px; }
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view.active.sel .button-middle { background: static_url("images/1.png") repeat-x 0 -208px; }
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view.active.sel .sc-button-label {
  margin-top: -11px;
  height: 30px;
  padding-top: 2px;
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view {
  color: #525252;
  font-size: 24px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.65);
  font-weight: bold;
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view .button-left {
  margin-top: -22px;
  height: 44px;
  width: 3px;
  background: static_url("images/1.png") no-repeat -24px -710px;
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view .button-right {
  margin-top: -22px;
  height: 44px;
  width: 3px;
  background: static_url("images/1.png") no-repeat -26px -771px;
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view .button-middle {
  margin-top: -22px;
  height: 44px;
  left: 3px;
  right: 3px;
  background: static_url("images/1.png") repeat-x 0 0;
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view .sc-button-label {
  color: #525252;
  margin-top: -12px;
  height: 44px;
  padding-top: 2px;
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view.sel {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.45);
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view.sel .button-left { background: static_url("images/1.png") no-repeat -27px -710px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view.sel .button-right { background: static_url("images/1.png") no-repeat 0 -815px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view.sel .button-middle { background: static_url("images/1.png") repeat-x 0 -132px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view.active {
  color: #525252;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.65);
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view.active .button-left { background: static_url("images/1.png") no-repeat -21px -710px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view.active .button-right { background: static_url("images/1.png") no-repeat -27px -666px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view.active .button-middle { background: static_url("images/1.png") repeat-x 0 -88px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view.active .sc-button-label {
  margin-top: -11px;
  height: 44px;
  padding-top: 2px;
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view.active.sel {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.65);
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view.active.sel .button-left { background: static_url("images/1.png") no-repeat -21px -666px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view.active.sel .button-right { background: static_url("images/1.png") no-repeat -24px -666px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view.active.sel .button-middle { background: static_url("images/1.png") repeat-x 0 -44px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view.active.sel .sc-button-label {
  margin-top: -11px;
  height: 44px;
  padding-top: 2px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view .button-left {
  height: 25px;
  background: static_url("images/1.png") no-repeat 0 -859px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view .button-right {
  right: 0px;
  width: 29px;
  height: 25px;
  background: static_url("images/1.png") no-repeat right -641px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view .button-middle {
  background: static_url("images/1.png") repeat-x 0 -353px;
  right: 29px;
  height: 25px;
  left: 3px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view .sc-button-label {
  text-align: left;
  right: 25px;
  vertical-align: top;
  color: #333333;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view.sel.active .button-left { background: static_url("images/1.png") no-repeat -27px -815px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view.sel.active .button-right { background: static_url("images/1.png") no-repeat right -616px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view.sel.active .button-middle {
  background: static_url("images/1.png") repeat-x 0 -378px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view.sel .button-left { background: static_url("images/1.png") no-repeat -27px -815px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view.sel .button-right { background: static_url("images/1.png") no-repeat right -616px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view.sel .button-middle {
  background: static_url("images/1.png") repeat-x 0 -378px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view.active .button-left { background: static_url("images/1.png") no-repeat -27px -815px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view.active .button-right { background: static_url("images/1.png") no-repeat right -616px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view.active .button-middle {
  background: static_url("images/1.png") repeat-x 0 -378px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view.disabled { opacity: 1; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view.disabled .button-left { background: static_url("images/1.png") no-repeat 0 -884px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view.disabled .button-right {
  width: 30px;
  background: static_url("images/1.png") no-repeat right -591px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view.disabled .button-middle {
  right: 30px;
  background: static_url("images/1.png") repeat-x 0 -328px;
}
.sc-theme .sc-view.slick.sc-small-size.sc-slider-view .sc-track .sc-left {
  width: 2px;
  height: 6px;
  background: static_url("images/1.png") no-repeat -26px -933px;
}
.sc-theme .sc-view.slick.sc-small-size.sc-slider-view .sc-track .sc-middle {
  left: 2px;
  right: 2px;
  height: 6px;
  background: static_url("images/1.png") repeat-x 0 -579px;
}
.sc-theme .sc-view.slick.sc-small-size.sc-slider-view .sc-track .sc-right {
  width: 2px;
  height: 6px;
  background: static_url("images/1.png") no-repeat -24px -933px;
}
.sc-theme .sc-view.slick.sc-small-size.sc-slider-view .sc-handle {
  width: 13px;
  height: 15px;
  top: 50%;
  margin-top: -6px;
  background: static_url("images/1.png") no-repeat 0 -771px;
}
.sc-theme .sc-view.slick.sc-small-size.sc-slider-view.active .sc-handle { background: static_url("images/1.png") no-repeat -13px -771px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-slider-view .sc-track .sc-left {
  width: 2px;
  height: 6px;
  background: static_url("images/1.png") no-repeat -22px -933px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-slider-view .sc-track .sc-middle {
  left: 2px;
  right: 2px;
  height: 6px;
  background: static_url("images/1.png") repeat-x 0 -585px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-slider-view .sc-track .sc-right {
  width: 2px;
  height: 6px;
  background: static_url("images/1.png") no-repeat -28px -933px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-slider-view .sc-handle {
  width: 15px;
  height: 17px;
  top: 50%;
  margin-top: -7px;
  background: static_url("images/1.png") no-repeat -15px -754px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-slider-view.active .sc-handle { background: static_url("images/1.png") no-repeat 0 -754px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-slider-view .sc-track .sc-left {
  width: 2px;
  height: 8px;
  background: static_url("images/1.png") no-repeat -20px -933px;
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-slider-view .sc-track .sc-middle {
  left: 2px;
  right: 2px;
  height: 6px;
  background: static_url("images/1.png") repeat-x 0 -571px;
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-slider-view .sc-track .sc-right {
  width: 2px;
  height: 6px;
  background: static_url("images/1.png") no-repeat -18px -933px;
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-slider-view .sc-handle {
  width: 21px;
  height: 23px;
  top: 50%;
  margin-top: -11px;
  background: static_url("images/1.png") no-repeat 0 -666px;
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-slider-view.active .sc-handle { background: static_url("images/1.png") no-repeat 0 -710px; }
