.sc-main { background: #eef0f1; }
.sc-main {
  background: #eef0f1;
  height: 100%;
  font-family: Helvetica, sans-serif;
}
.sc-view { font-family: Helvetica, sans-serif; }
.sc-theme .sc-view.slick.sc-collection-view .sc-collection-item.sel {
  color: white;
  background: #35aeda;
}
.sc-view.sc-list-item-view .sc-checkbox-view {
  background-color: transparent;
  border: 0 none;
  margin-top: -9px;
}
.sc-source-list-background { background: #d1dfe5; }
.sc-theme .sc-view.slick.sc-scroll-view.sc-source-list-background .sc-container-view { background: #d1dfe5; }
.sc-theme .sc-view.slick.sc-collection-view.sc-source-list { background: #d1dfe5; }
.sc-theme .sc-view.slick.sc-collection-view.sc-source-list .sc-list-item-view label {
  top: 50%;
  margin-top: -9px;
  font-size: 12px;
  color: #516b70;
  text-shadow: 0px 1px 1px white;
}
.sc-theme .sc-view.slick.sc-collection-view.sc-source-list .sc-collection-item.sel label {
  color: white;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.65);
}
.sc-theme .sc-view.slick.sc-collection-view.sc-source-list .sc-collection-item.sel {
  background: static_url("images/1.png") repeat-x 0 -396px;
  border-top: 1px solid #016391;
  border-bottom: 1px solid #016391;
  color: white;
  font-weight: bold;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.65);
}
.sc-theme .sc-view.slick.sc-collection-view.sc-source-list .sc-collection-item.sc-group-item {
  font-weight: bold;
  color: #516b70;
  text-shadow: 0px 1px 1px white;
  font-size: 11px;
  text-transform: uppercase;
}
.sc-theme .sc-view.slick.sc-collection-view.sc-source-list .disclosure {
  position: absolute;
  left: -12px;
  top: 9px;
  font-size: 11px;
}
.sc-theme .sc-view.slick.sc-split-divider-view {
  background: #9eaaaf;
  border: 0px none;
}
.sc-theme .sc-view.slick.sc-small-size.sc-button-view {
  color: #525252;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.65);
}
.sc-theme .sc-view.slick.sc-small-size.sc-button-view .button-left {
  margin-top: -9px;
  height: 18px;
  width: 3px;
  background: static_url("images/1.png") no-repeat -24px -2286px;
}
.sc-theme .sc-view.slick.sc-small-size.sc-button-view .button-right {
  margin-top: -9px;
  height: 18px;
  width: 3px;
  background: static_url("images/1.png") no-repeat -27px -2268px;
}
.sc-theme .sc-view.slick.sc-small-size.sc-button-view .button-middle {
  margin-top: -9px;
  height: 18px;
  left: 3px;
  right: 3px;
  background: static_url("images/1.png") repeat-x 0 -975px;
}
.sc-theme .sc-view.slick.sc-small-size.sc-button-view .sc-button-label {
  margin-top: -11px;
  height: 18px;
  padding-top: 0px;
}
.sc-theme .sc-view.slick.sc-small-size.sc-button-view.sel {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.45);
}
.sc-theme .sc-view.slick.sc-small-size.sc-button-view.sel .button-left { background: static_url("images/1.png") no-repeat -27px -2304px; }
.sc-theme .sc-view.slick.sc-small-size.sc-button-view.sel .button-right { background: static_url("images/1.png") no-repeat -24px -2304px; }
.sc-theme .sc-view.slick.sc-small-size.sc-button-view.sel .button-middle { background: static_url("images/1.png") repeat-x 0 -1101px; }
.sc-theme .sc-view.slick.sc-small-size.sc-button-view.active {
  color: #525252;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.65);
}
.sc-theme .sc-view.slick.sc-small-size.sc-button-view.active .button-left { background: static_url("images/1.png") no-repeat -27px -2286px; }
.sc-theme .sc-view.slick.sc-small-size.sc-button-view.active .button-right { background: static_url("images/1.png") no-repeat -24px -2322px; }
.sc-theme .sc-view.slick.sc-small-size.sc-button-view.active .button-middle { background: static_url("images/1.png") repeat-x 0 -1029px; }
.sc-theme .sc-view.slick.sc-small-size.sc-button-view.active .sc-button-label {
  margin-top: -9px;
  height: 18px;
  padding-top: 0px;
}
.sc-theme .sc-view.slick.sc-small-size.sc-button-view.active.sel {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.65);
}
.sc-theme .sc-view.slick.sc-small-size.sc-button-view.active.sel .button-left { background: static_url("images/1.png") no-repeat -24px -2268px; }
.sc-theme .sc-view.slick.sc-small-size.sc-button-view.active.sel .button-right { background: static_url("images/1.png") no-repeat -27px -2322px; }
.sc-theme .sc-view.slick.sc-small-size.sc-button-view.active.sel .button-middle { background: static_url("images/1.png") repeat-x 0 -1083px; }
.sc-theme .sc-view.slick.sc-small-size.sc-button-view.active.sel .sc-button-label {
  margin-top: -9px;
  height: 18px;
  padding-top: 0px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view {
  color: #525252;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.65);
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view .button-left {
  margin-top: -12px;
  height: 24px;
  width: 3px;
  background: static_url("images/1.png") no-repeat -24px -2128px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view .button-right {
  margin-top: -12px;
  height: 24px;
  width: 3px;
  background: static_url("images/1.png") no-repeat -27px -2152px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view .button-middle {
  margin-top: -12px;
  height: 24px;
  left: 3px;
  right: 3px;
  background: static_url("images/1.png") repeat-x 0 -743px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view .sc-button-label {
  margin-top: -12px;
  height: 24px;
  padding-top: 2px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sel {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.45);
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sel .button-left { background: static_url("images/1.png") no-repeat -24px -2152px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sel .button-right { background: static_url("images/1.png") no-repeat -27px -2128px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sel .button-middle { background: static_url("images/1.png") repeat-x 0 -767px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.active {
  color: #525252;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.65);
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.active .button-left { background: static_url("images/1.png") no-repeat -24px -2200px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.active .button-right { background: static_url("images/1.png") no-repeat -27px -2200px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.active .button-middle { background: static_url("images/1.png") repeat-x 0 -791px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.active .sc-button-label {
  margin-top: -11px;
  height: 24px;
  padding-top: 2px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.active.sel {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.65);
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.active.sel .button-left { background: static_url("images/1.png") no-repeat -27px -2176px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.active.sel .button-right { background: static_url("images/1.png") no-repeat -24px -2176px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.active.sel .button-middle { background: static_url("images/1.png") repeat-x 0 -815px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.active.sel .sc-button-label {
  margin-top: -11px;
  height: 24px;
  padding-top: 2px;
}
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view {
  color: #525252;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.65);
  font-weight: bold;
}
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view .button-left {
  margin-top: -15px;
  height: 30px;
  width: 3px;
  background: static_url("images/1.png") no-repeat -24px -2008px;
}
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view .button-right {
  margin-top: -15px;
  height: 30px;
  width: 3px;
  background: static_url("images/1.png") no-repeat -24px -1978px;
}
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view .button-middle {
  margin-top: -15px;
  height: 30px;
  left: 3px;
  right: 3px;
  background: static_url("images/1.png") repeat-x 0 -548px;
}
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view .sc-button-label {
  margin-top: -12px;
  height: 30px;
  padding-top: 2px;
}
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view.sel {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.45);
}
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view.sel .button-left { background: static_url("images/1.png") no-repeat -27px -1934px; }
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view.sel .button-right { background: static_url("images/1.png") no-repeat -27px -2008px; }
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view.sel .button-middle { background: static_url("images/1.png") repeat-x 0 -428px; }
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view.active {
  color: #525252;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.65);
}
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view.active .button-left { background: static_url("images/1.png") no-repeat -24px -1890px; }
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view.active .button-right { background: static_url("images/1.png") no-repeat -27px -1890px; }
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view.active .button-middle { background: static_url("images/1.png") repeat-x 0 -458px; }
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view.active .sc-button-label {
  margin-top: -11px;
  height: 30px;
  padding-top: 2px;
}
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view.active.sel {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.65);
}
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view.active.sel .button-left { background: static_url("images/1.png") no-repeat -24px -1934px; }
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view.active.sel .button-right { background: static_url("images/1.png") no-repeat -27px -1978px; }
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view.active.sel .button-middle { background: static_url("images/1.png") repeat-x 0 -488px; }
.sc-theme .sc-view.slick.sc-huge-size.sc-button-view.active.sel .sc-button-label {
  margin-top: -11px;
  height: 30px;
  padding-top: 2px;
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view {
  color: #525252;
  font-size: 24px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.65);
  font-weight: bold;
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view .button-left {
  margin-top: -22px;
  height: 44px;
  width: 3px;
  background: static_url("images/1.png") no-repeat -26px -1670px;
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view .button-right {
  margin-top: -22px;
  height: 44px;
  width: 3px;
  background: static_url("images/1.png") no-repeat -26px -1257px;
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view .button-middle {
  margin-top: -22px;
  height: 44px;
  left: 3px;
  right: 3px;
  background: static_url("images/1.png") repeat-x 0 -352px;
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view .sc-button-label {
  color: #525252;
  margin-top: -12px;
  height: 44px;
  padding-top: 2px;
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view.sel {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.45);
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view.sel .button-left { background: static_url("images/1.png") no-repeat -24px -1758px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view.sel .button-right { background: static_url("images/1.png") no-repeat -27px -1758px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view.sel .button-middle { background: static_url("images/1.png") repeat-x 0 0; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view.active {
  color: #525252;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.65);
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view.active .button-left { background: static_url("images/1.png") no-repeat -24px -1802px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view.active .button-right { background: static_url("images/1.png") no-repeat -27px -1846px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view.active .button-middle { background: static_url("images/1.png") repeat-x 0 -308px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view.active .sc-button-label {
  margin-top: -11px;
  height: 44px;
  padding-top: 2px;
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view.active.sel {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.65);
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view.active.sel .button-left { background: static_url("images/1.png") no-repeat -24px -1846px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view.active.sel .button-right { background: static_url("images/1.png") no-repeat -27px -1802px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view.active.sel .button-middle { background: static_url("images/1.png") repeat-x 0 -264px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-button-view.active.sel .sc-button-label {
  margin-top: -11px;
  height: 44px;
  padding-top: 2px;
}
.sc-theme .sc-view.slick.sc-small-size.sc-checkbox span.button {
  background: static_url("images/1.png") no-repeat -16px -1478px;
  width: 14px;
  height: 15px;
}
.sc-theme .sc-view.slick.sc-small-size.sc-checkbox.sel span.button { background: static_url("images/1.png") no-repeat -16px -1461px; }
.sc-theme .sc-view.slick.sc-small-size.sc-checkbox.mixed span.button { background: static_url("images/1.png") no-repeat -16px -1512px; }
.sc-theme .sc-view.slick.sc-small-size.sc-checkbox.active span.button { background: static_url("images/1.png") no-repeat -16px -1576px; }
.sc-theme .sc-view.slick.sc-small-size.sc-checkbox.sel.active span.button { background: static_url("images/1.png") no-repeat -16px -1546px; }
.sc-theme .sc-view.slick.sc-small-size.sc-checkbox.sel.active label {
  color: #000000;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.75);
}
.sc-theme .sc-view.slick.sc-small-size.sc-checkbox.mixed.active span.button { background: static_url("images/1.png") no-repeat -16px -1561px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-checkbox span.button {
  background: static_url("images/1.png") no-repeat 0 -1418px;
  width: 16px;
  height: 17px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-checkbox.sel span.button { background: static_url("images/1.png") no-repeat 0 -1444px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-checkbox.mixed span.button { background: static_url("images/1.png") no-repeat 0 -1461px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-checkbox.active span.button { background: static_url("images/1.png") no-repeat 0 -1478px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-checkbox.sel.active {
  color: #000000;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.75);
}
.sc-theme .sc-view.slick.sc-regular-size.sc-checkbox.sel.active label { text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.75); }
.sc-theme .sc-view.slick.sc-regular-size.sc-checkbox.sel.active span.button {
  background: static_url("images/1.png") no-repeat 0 -1495px;
  color: #000000;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-checkbox.mixed.active span.button { background: static_url("images/1.png") no-repeat 0 -1512px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-checkbox-view.disabled span.button {
  opacity: 1;
  background: static_url("images/1.png") no-repeat 0 -1529px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-checkbox-view.disabled.sel span.button {
  opacity: 1;
  background: static_url("images/1.png") no-repeat 0 -1389px;
}
.sc-theme .sc-view.slick.sc-button-view.sc-checkbox-view {
  color: black;
  text-shadow: white 0px 1px 1px;
  line-height: 18px;
  vertical-align: middle;
}
.sc-checkbox-control {
  color: black;
  text-shadow: white 0px 1px 1px;
  line-height: 18px;
  vertical-align: middle;
}
.sc-theme .sc-view.slick.sc-checkbox-view .label {
  position: absolute;
  left: 20px;
  line-height: 16px;
}
.sc-checkbox-control .label {
  position: absolute;
  left: 20px;
  line-height: 16px;
}
.sc-theme .sc-view.slick.sc-checkbox-view input {
  visibility: hidden;
  z-index: 1;
}
.sc-checkbox-control input {
  visibility: hidden;
  z-index: 1;
}
.sc-theme .sc-view.slick.sc-button-view.sc-checkbox-view.sel {
  color: black;
  text-shadow: white 0px 1px 1px;
}
.sc-theme .sc-view.slick.sc-button-view.sc-checkbox-view.active {
  color: black;
  text-shadow: white 0px 1px 1px;
}
.sc-checkbox-control.sel, .sc-checkbox-control.active {
  color: black;
  text-shadow: white 0px 1px 1px;
}
.sc-theme .sc-view.slick.sc-checkbox-view.disabled { opacity: 1; }
.sc-checkbox-control.disabled { opacity: 1; }
.sc-theme .sc-view.slick.sc-progress-view {
  background: static_url("images/1.png") no-repeat -24px -2224px;
  z-index: 0;
  border: 0px none;
}
.sc-theme .sc-view.slick.sc-progress-view .sc-outer-head {
  left: 3px;
  right: 3px;
  position: absolute;
  height: 20px;
  background: static_url("images/1.png") repeat-x 0 -955px;
  z-index: 0;
  border: 0px none;
}
.sc-theme .sc-view.slick.sc-progress-view .sc-outer-tail {
  right: 0px;
  width: 3px;
  position: absolute;
  height: 20px;
  background: static_url("images/1.png") no-repeat -24px -2248px;
  z-index: 0;
  border: 0px none;
}
.sc-theme .sc-view.slick.sc-progress-view .sc-inner {
  background: static_url("images/1.png") no-repeat -27px -2248px;
  z-index: 1;
  border: 0px none;
}
.sc-theme .sc-view.slick.sc-progress-view .sc-inner-head {
  width: 3px;
  right: 0px;
  position: absolute;
  height: 20px;
  background: static_url("images/1.png") no-repeat right -1237px;
  border: 0px none;
}
.sc-theme .sc-view.slick.sc-progress-view .sc-inner-tail {
  left: 3px;
  right: 3px;
  position: absolute;
  height: 20px;
  background: static_url("images/1.png") repeat-x 0 -935px;
  border: 0px none;
}
.sc-theme .sc-view.slick.sc-progress-view.disabled { opacity: 0.5; }
.sc-theme .sc-view.slick.sc-radio-view {
  line-height: 18px;
  vertical-align: middle;
}
.sc-theme .sc-view.slick.sc-radio-view .sc-radio-button {
  position: relative;
  display: block;
  height: 18px;
  padding-left: 18px;
  margin-bottom: 3px;
}
.sc-theme .sc-view.slick.sc-radio-view .sc-button-label {
  position: absolute;
  left: 20px;
  line-height: 18px;
}
.sc-theme .sc-view.slick.sc-radio-view span.button {
  background: static_url("images/1.png") no-repeat 0 -1624px;
  width: 15px;
  height: 16px;
  vertical-align: middle;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0px;
}
.sc-theme .sc-view.slick.sc-radio-view input { visibility: hidden; }
.sc-theme .sc-view.slick.sc-radio-view .sel span.button { background: static_url("images/1.png") no-repeat 0 -1640px; }
.sc-theme .sc-view.slick.sc-radio-view .mixed span.button { background: static_url("images/1.png") no-repeat -15px -1640px; }
.sc-theme .sc-view.slick.sc-radio-view .active span.button { background: static_url("images/1.png") no-repeat -15px -1624px; }
.sc-theme .sc-view.slick.sc-radio-view .sel.active span.button { background: static_url("images/1.png") no-repeat -15px -1608px; }
.sc-theme .sc-view.slick.sc-radio-view .mixed.active span.button { background: static_url("images/1.png") no-repeat 0 -1608px; }
.sc-theme .sc-view.slick.sc-radio-view.disabled { opacity: 0.5; }
.sc-theme .sc-view.slick.sc-scroller-view.sc-horizontal .track {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0;
  bottom: 0;
  background: static_url("images/1.png") repeat-x 0 -1119px;
}
.sc-theme .sc-view.slick.sc-scroller-view.sc-horizontal .cap {
  position: absolute;
  width: 16;
  height: 14px;
  width: 16px;
  left: 0px;
  background: static_url("images/1.png") no-repeat 0 -1546px;
}
.sc-theme .sc-view.slick.sc-scroller-view.sc-horizontal .button-left {
  position: absolute;
  background: static_url("images/1.png") no-repeat 0 -1237px;
  width: 26px;
  height: 14px;
  right: 15px;
}
.sc-theme .sc-view.slick.sc-scroller-view.sc-horizontal .button-top {
  position: absolute;
  background: static_url("images/1.png") no-repeat 0 -1237px;
  width: 26px;
  height: 14px;
  right: 15px;
}
.sc-theme .sc-view.slick.sc-scroller-view.sc-horizontal .button-right {
  position: absolute;
  background: static_url("images/1.png") no-repeat -15px -1656px;
  width: 15px;
  height: 14px;
  right: 0px;
}
.sc-theme .sc-view.slick.sc-scroller-view.sc-horizontal .button-bottom {
  position: absolute;
  background: static_url("images/1.png") no-repeat -15px -1656px;
  width: 15px;
  height: 14px;
  right: 0px;
}
.sc-theme .sc-view.slick.sc-scroller-view.sc-horizontal .button-left:active { background: static_url("images/1.png") no-repeat 0 -1257px; }
.sc-theme .sc-view.slick.sc-scroller-view.sc-horizontal .button-top:active { background: static_url("images/1.png") no-repeat 0 -1257px; }
.sc-theme .sc-view.slick.sc-scroller-view.sc-horizontal .button-right:active { background: static_url("images/1.png") no-repeat 0 -1656px; }
.sc-theme .sc-view.slick.sc-scroller-view.sc-horizontal .button-bottom:active { background: static_url("images/1.png") no-repeat 0 -1656px; }
.sc-theme .sc-view.slick.sc-scroller-view.sc-horizontal .thumb { position: absolute; }
.sc-theme .sc-view.slick.sc-scroller-view.sc-horizontal .thumb-center {
  position: absolute;
  height: 14px;
  left: 10px;
  right: 10px;
  background: static_url("images/1.png") repeat-x 0 -1133px;
}
.sc-theme .sc-view.slick.sc-scroller-view.sc-horizontal .thumb-left {
  position: absolute;
  height: 14px;
  left: 0px;
  width: 10px;
  background: static_url("images/1.png") no-repeat 0 -1714px;
}
.sc-theme .sc-view.slick.sc-scroller-view.sc-horizontal .thumb-top {
  position: absolute;
  height: 14px;
  left: 0px;
  width: 10px;
  background: static_url("images/1.png") no-repeat 0 -1714px;
}
.sc-theme .sc-view.slick.sc-scroller-view.sc-horizontal .thumb-right {
  position: absolute;
  height: 14px;
  right: 0px;
  width: 10px;
  background: static_url("images/1.png") no-repeat -10px -1714px;
}
.sc-theme .sc-view.slick.sc-scroller-view.sc-horizontal .thumb-bottom {
  position: absolute;
  height: 14px;
  right: 0px;
  width: 10px;
  background: static_url("images/1.png") no-repeat -10px -1714px;
}
.sc-theme .sc-view.slick.sc-scroller-view.sc-vertical .track {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  background: static_url("images/2.png") repeat-y -16px 0;
}
.sc-theme .sc-view.slick.sc-scroller-view.sc-vertical .cap {
  position: absolute;
  height: 16;
  width: 14px;
  height: 16px;
  top: 0px;
  background: static_url("images/1.png") no-repeat -16px -1444px;
}
.sc-theme .sc-view.slick.sc-scroller-view.sc-vertical .button-top {
  position: absolute;
  background: static_url("images/1.png") no-repeat -16px -1389px;
  height: 29px;
  width: 14px;
  bottom: 14px;
}
.sc-theme .sc-view.slick.sc-scroller-view.sc-vertical .button-bottom {
  position: absolute;
  background: static_url("images/1.png") no-repeat -16px -1529px;
  height: 15px;
  width: 14px;
  bottom: 0px;
}
.sc-theme .sc-view.slick.sc-scroller-view.sc-vertical .button-top:active { background: static_url("images/1.png") no-repeat -16px -1418px; }
.sc-theme .sc-view.slick.sc-scroller-view.sc-vertical .button-bottom:active { background: static_url("images/1.png") no-repeat -16px -1495px; }
.sc-theme .sc-view.slick.sc-scroller-view.sc-vertical .thumb {
  position: absolute;
  margin-left: -1px;
}
.sc-theme .sc-view.slick.sc-scroller-view.sc-vertical .thumb-center {
  position: absolute;
  width: 15px;
  top: 10px;
  bottom: 10px;
  background: static_url("images/2.png") repeat-y 0 0;
}
.sc-theme .sc-view.slick.sc-scroller-view.sc-vertical .thumb-top {
  position: absolute;
  width: 15px;
  top: 0px;
  height: 10px;
  background: static_url("images/1.png") no-repeat 0 -1561px;
}
.sc-theme .sc-view.slick.sc-scroller-view.sc-vertical .thumb-bottom {
  position: absolute;
  width: 15px;
  bottom: 0px;
  height: 10px;
  background: static_url("images/1.png") no-repeat 0 -1576px;
}
.sc-theme .sc-view.slick.sc-small-size.sc-segmented-view .sc-segment { height: 18px; }
.sc-theme .sc-view.slick.sc-small-size.sc-segmented-view .sc-segment .button-left {
  width: 8px;
  height: 18px;
  background: static_url("images/1.png") no-repeat 0 -2322px;
}
.sc-theme .sc-view.slick.sc-small-size.sc-segmented-view .sc-segment .button-right {
  width: 8px;
  height: 18px;
  background: static_url("images/1.png") no-repeat -8px -2322px;
}
.sc-theme .sc-view.slick.sc-small-size.sc-segmented-view .sc-segment .button-middle {
  height: 18px;
  background: static_url("images/1.png") repeat-x 0 -993px;
}
.sc-theme .sc-view.slick.sc-small-size.sc-segmented-view .sc-segment.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -16px -2322px; }
.sc-theme .sc-view.slick.sc-small-size.sc-segmented-view .sc-segment.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat 0 -2340px; }
.sc-theme .sc-view.slick.sc-small-size.sc-segmented-view .sc-segment.active .button-left { background: static_url("images/1.png") no-repeat -16px -2304px; }
.sc-theme .sc-view.slick.sc-small-size.sc-segmented-view .sc-segment.active .button-right { background: static_url("images/1.png") no-repeat 0 -2248px; }
.sc-theme .sc-view.slick.sc-small-size.sc-segmented-view .sc-segment.active .button-middle { background: static_url("images/1.png") repeat-x 0 -1011px; }
.sc-theme .sc-view.slick.sc-small-size.sc-segmented-view .sc-segment.active.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -8px -2304px; }
.sc-theme .sc-view.slick.sc-small-size.sc-segmented-view .sc-segment.active.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat 0 -2304px; }
.sc-theme .sc-view.slick.sc-small-size.sc-segmented-view .sc-segment.sel .button-left { background: static_url("images/1.png") no-repeat -16px -2286px; }
.sc-theme .sc-view.slick.sc-small-size.sc-segmented-view .sc-segment.sel .button-right { background: static_url("images/1.png") no-repeat -8px -2286px; }
.sc-theme .sc-view.slick.sc-small-size.sc-segmented-view .sc-segment.sel .button-middle { background: static_url("images/1.png") repeat-x 0 -1065px; }
.sc-theme .sc-view.slick.sc-small-size.sc-segmented-view .sc-segment.sel.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat 0 -2286px; }
.sc-theme .sc-view.slick.sc-small-size.sc-segmented-view .sc-segment.sel.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -16px -2268px; }
.sc-theme .sc-view.slick.sc-small-size.sc-segmented-view .sc-segment.sel.active .button-left { background: static_url("images/1.png") no-repeat -8px -2268px; }
.sc-theme .sc-view.slick.sc-small-size.sc-segmented-view .sc-segment.sel.active .button-right { background: static_url("images/1.png") no-repeat 0 -2268px; }
.sc-theme .sc-view.slick.sc-small-size.sc-segmented-view .sc-segment.sel.active .button-middle { background: static_url("images/1.png") repeat-x 0 -1047px; }
.sc-theme .sc-view.slick.sc-small-size.sc-segmented-view .sc-segment.sel.active.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -16px -2248px; }
.sc-theme .sc-view.slick.sc-small-size.sc-segmented-view .sc-segment.sel.active.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -8px -2248px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-segmented-view .sc-segment { height: 24px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-segmented-view .sc-segment .button-left {
  width: 8px;
  height: 24px;
  background: static_url("images/1.png") no-repeat -8px -2200px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-segmented-view .sc-segment .button-right {
  width: 8px;
  height: 24px;
  background: static_url("images/1.png") no-repeat -16px -2200px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-segmented-view .sc-segment .button-middle {
  height: 24px;
  background: static_url("images/1.png") repeat-x 0 -911px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-segmented-view .sc-segment.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat 0 -2224px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-segmented-view .sc-segment.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -8px -2224px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-segmented-view .sc-segment.active .button-left { background: static_url("images/1.png") no-repeat -16px -2098px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-segmented-view .sc-segment.active .button-right { background: static_url("images/1.png") no-repeat -16px -2224px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-segmented-view .sc-segment.active .button-middle { background: static_url("images/1.png") repeat-x 0 -863px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-segmented-view .sc-segment.active.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat 0 -2200px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-segmented-view .sc-segment.active.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -16px -2176px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-segmented-view .sc-segment.sel .button-left { background: static_url("images/1.png") no-repeat -8px -2176px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-segmented-view .sc-segment.sel .button-right { background: static_url("images/1.png") no-repeat 0 -2176px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-segmented-view .sc-segment.sel .button-middle { background: static_url("images/1.png") repeat-x 0 -887px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-segmented-view .sc-segment.sel.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -16px -2152px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-segmented-view .sc-segment.sel.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -8px -2152px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-segmented-view .sc-segment.sel.active .button-left { background: static_url("images/1.png") no-repeat 0 -2152px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-segmented-view .sc-segment.sel.active .button-right { background: static_url("images/1.png") no-repeat -16px -2128px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-segmented-view .sc-segment.sel.active .button-middle { background: static_url("images/1.png") repeat-x 0 -839px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-segmented-view .sc-segment.sel.active.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -8px -2128px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-segmented-view .sc-segment.sel.active.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat 0 -2128px; }
.sc-theme .sc-view.slick.sc-large-size.sc-segmented-view .sc-segment { height: 30px; }
.sc-theme .sc-view.slick.sc-large-size.sc-segmented-view .sc-segment .button-left {
  width: 8px;
  height: 30px;
  background: static_url("images/1.png") no-repeat 0 -2038px;
}
.sc-theme .sc-view.slick.sc-large-size.sc-segmented-view .sc-segment .button-right {
  width: 8px;
  height: 30px;
  background: static_url("images/1.png") no-repeat -8px -1934px;
}
.sc-theme .sc-view.slick.sc-large-size.sc-segmented-view .sc-segment .button-middle {
  height: 30px;
  background: static_url("images/1.png") repeat-x 0 -518px;
}
.sc-theme .sc-view.slick.sc-large-size.sc-segmented-view .sc-segment.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat 0 -2098px; }
.sc-theme .sc-view.slick.sc-large-size.sc-segmented-view .sc-segment.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -16px -2068px; }
.sc-theme .sc-view.slick.sc-large-size.sc-segmented-view .sc-segment.active .button-left { background: static_url("images/1.png") no-repeat -8px -2068px; }
.sc-theme .sc-view.slick.sc-large-size.sc-segmented-view .sc-segment.active .button-right { background: static_url("images/1.png") no-repeat 0 -2068px; }
.sc-theme .sc-view.slick.sc-large-size.sc-segmented-view .sc-segment.active .button-middle { background: static_url("images/1.png") repeat-x 0 -638px; }
.sc-theme .sc-view.slick.sc-large-size.sc-segmented-view .sc-segment.active.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat 0 -1978px; }
.sc-theme .sc-view.slick.sc-large-size.sc-segmented-view .sc-segment.active.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -16px -1934px; }
.sc-theme .sc-view.slick.sc-large-size.sc-segmented-view .sc-segment.sel .button-left { background: static_url("images/1.png") no-repeat -8px -1978px; }
.sc-theme .sc-view.slick.sc-large-size.sc-segmented-view .sc-segment.sel .button-right { background: static_url("images/1.png") no-repeat -16px -1978px; }
.sc-theme .sc-view.slick.sc-large-size.sc-segmented-view .sc-segment.sel .button-middle { background: static_url("images/1.png") repeat-x 0 -608px; }
.sc-theme .sc-view.slick.sc-large-size.sc-segmented-view .sc-segment.sel.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat 0 -2008px; }
.sc-theme .sc-view.slick.sc-large-size.sc-segmented-view .sc-segment.sel.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -8px -2008px; }
.sc-theme .sc-view.slick.sc-large-size.sc-segmented-view .sc-segment.sel.active .button-left { background: static_url("images/1.png") no-repeat -16px -2008px; }
.sc-theme .sc-view.slick.sc-large-size.sc-segmented-view .sc-segment.sel.active .button-right { background: static_url("images/1.png") no-repeat -8px -2098px; }
.sc-theme .sc-view.slick.sc-large-size.sc-segmented-view .sc-segment.sel.active .button-middle { background: static_url("images/1.png") repeat-x 0 -578px; }
.sc-theme .sc-view.slick.sc-large-size.sc-segmented-view .sc-segment.sel.active.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -8px -2038px; }
.sc-theme .sc-view.slick.sc-large-size.sc-segmented-view .sc-segment.sel.active.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -16px -2038px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-segmented-view .sc-segment { height: 44px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-segmented-view .sc-segment .button-left {
  width: 8px;
  height: 44px;
  background: static_url("images/1.png") no-repeat 0 -1934px;
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-segmented-view .sc-segment .button-right {
  width: 8px;
  height: 44px;
  background: static_url("images/1.png") no-repeat -16px -1890px;
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-segmented-view .sc-segment .button-middle {
  height: 44px;
  background: static_url("images/1.png") repeat-x 0 -88px;
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-segmented-view .sc-segment.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -8px -1890px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-segmented-view .sc-segment.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat 0 -1890px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-segmented-view .sc-segment.active .button-left { background: static_url("images/1.png") no-repeat 0 -1802px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-segmented-view .sc-segment.active .button-right { background: static_url("images/1.png") no-repeat -16px -1758px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-segmented-view .sc-segment.active .button-middle { background: static_url("images/1.png") repeat-x 0 -132px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-segmented-view .sc-segment.active.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -8px -1758px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-segmented-view .sc-segment.active.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat 0 -1758px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-segmented-view .sc-segment.sel .button-left { background: static_url("images/1.png") no-repeat -21px -1301px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-segmented-view .sc-segment.sel .button-right { background: static_url("images/1.png") no-repeat -21px -1345px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-segmented-view .sc-segment.sel .button-middle { background: static_url("images/1.png") repeat-x 0 -176px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-segmented-view .sc-segment.sel.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -20px -1714px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-segmented-view .sc-segment.sel.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -8px -1802px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-segmented-view .sc-segment.sel.active .button-left { background: static_url("images/1.png") no-repeat -16px -1802px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-segmented-view .sc-segment.sel.active .button-right { background: static_url("images/1.png") no-repeat 0 -1846px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-segmented-view .sc-segment.sel.active .button-middle { background: static_url("images/1.png") repeat-x 0 -220px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-segmented-view .sc-segment.sel.active.sc-first-segment .button-left { background: static_url("images/1.png") no-repeat -8px -1846px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-segmented-view .sc-segment.sel.active.sc-last-segment .button-right { background: static_url("images/1.png") no-repeat -16px -1846px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view .button-left {
  height: 25px;
  background: static_url("images/1.png") no-repeat -24px -2098px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view .button-right {
  right: 0px;
  width: 29px;
  height: 25px;
  background: static_url("images/1.png") no-repeat right -1212px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view .button-middle {
  background: static_url("images/1.png") repeat-x 0 -668px;
  right: 29px;
  height: 25px;
  left: 3px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view .sc-button-label {
  text-align: left;
  right: 25px;
  vertical-align: top;
  color: #333333;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view.sel.active .button-left { background: static_url("images/1.png") no-repeat -24px -2068px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view.sel.active .button-right { background: static_url("images/1.png") no-repeat right -1187px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view.sel.active .button-middle {
  background: static_url("images/1.png") repeat-x 0 -718px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view.sel .button-left { background: static_url("images/1.png") no-repeat -24px -2068px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view.sel .button-right { background: static_url("images/1.png") no-repeat right -1187px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view.sel .button-middle {
  background: static_url("images/1.png") repeat-x 0 -718px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view.active .button-left { background: static_url("images/1.png") no-repeat -24px -2068px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view.active .button-right { background: static_url("images/1.png") no-repeat right -1187px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view.active .button-middle {
  background: static_url("images/1.png") repeat-x 0 -718px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view.disabled { opacity: 1; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view.disabled .button-left { background: static_url("images/1.png") no-repeat -24px -2038px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view.disabled .button-right {
  width: 30px;
  background: static_url("images/1.png") no-repeat right -1162px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-button-view.sc-select-view.disabled .button-middle {
  right: 30px;
  background: static_url("images/1.png") repeat-x 0 -693px;
}
.sc-theme .sc-view.slick.sc-small-size.sc-slider-view .sc-track .sc-left {
  width: 2px;
  height: 4px;
  background: static_url("images/1.png") no-repeat -14px -2340px;
}
.sc-theme .sc-view.slick.sc-small-size.sc-slider-view .sc-track .sc-middle {
  left: 2px;
  right: 2px;
  height: 4px;
  background: static_url("images/1.png") repeat-x 0 -1158px;
}
.sc-theme .sc-view.slick.sc-small-size.sc-slider-view .sc-track .sc-right {
  width: 2px;
  height: 4px;
  background: static_url("images/1.png") no-repeat -12px -2340px;
}
.sc-theme .sc-view.slick.sc-small-size.sc-slider-view .sc-handle {
  width: 13px;
  height: 15px;
  top: 50%;
  margin-top: -7px;
  background: static_url("images/1.png") no-repeat -13px -1670px;
}
.sc-theme .sc-view.slick.sc-small-size.sc-slider-view.active .sc-handle { background: static_url("images/1.png") no-repeat 0 -1670px; }
.sc-theme .sc-view.slick.sc-regular-size.sc-slider-view .sc-track .sc-left {
  width: 2px;
  height: 4px;
  background: static_url("images/1.png") no-repeat -10px -2340px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-slider-view .sc-track .sc-middle {
  left: 2px;
  right: 2px;
  height: 4px;
  background: static_url("images/1.png") repeat-x 0 -1154px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-slider-view .sc-track .sc-right {
  width: 2px;
  height: 4px;
  background: static_url("images/1.png") no-repeat -16px -2340px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-slider-view .sc-handle {
  width: 15px;
  height: 17px;
  top: 50%;
  margin-top: -8px;
  background: static_url("images/1.png") no-repeat -15px -1591px;
}
.sc-theme .sc-view.slick.sc-regular-size.sc-slider-view.active .sc-handle { background: static_url("images/1.png") no-repeat 0 -1591px; }
.sc-theme .sc-view.slick.sc-jumbo-size.sc-slider-view .sc-track .sc-left {
  width: 2px;
  height: 7px;
  background: static_url("images/1.png") no-repeat -8px -2340px;
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-slider-view .sc-track .sc-middle {
  left: 2px;
  right: 2px;
  height: 6px;
  background: static_url("images/1.png") repeat-x 0 -1147px;
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-slider-view .sc-track .sc-right {
  width: 2px;
  height: 6px;
  background: static_url("images/1.png") no-repeat -28px -1714px;
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-slider-view .sc-handle {
  width: 21px;
  height: 23px;
  top: 50%;
  margin-top: -11px;
  background: static_url("images/1.png") no-repeat 0 -1301px;
}
.sc-theme .sc-view.slick.sc-jumbo-size.sc-slider-view.active .sc-handle { background: static_url("images/1.png") no-repeat 0 -1345px; }
.sc-theme .sc-view.slick.sc-toolbar-view {
  background: static_url("images/1.png") repeat-x 0 -44px;
  color: #555555;
  text-shadow: 0px 1px 1px white;
  height: 44px;
  border: 0;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  z-index: 10;
}
