/* Main */
@view(sc-button-view.sc-disclosure-view) {
  color: #516b70;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, .75);
}

@view(sc-button-view.sc-disclosure-view) .sc-button-label {
  left: 10px;
}

@view(sc-button-view.sc-disclosure-view).sel {
  color: #2d474c;
  text-shadow: white 0px 1px 1px;
}

@view(sc-button-view.sc-disclosure-view).sel.active {
  color: #2d474c;
  text-shadow: white 0px 1px 1px;
}

@view(sc-button-view.sc-disclosure-view).active {
  color: #2d474c;
  text-shadow: white 0px 1px 1px;
  .sc-button-label { margin-top:-12px; }
}

@view(sc-button-view.sc-disclosure-view) img {
  position: absolute; top: 6px;
  background:sprite("closed.png");  
  width: 8px; height: 8px;
}

@view(sc-button-view.sc-disclosure-view).sel img {
  background:sprite("open.png");
}

@view(sc-button-view.sc-disclosure-view).active img {
  background:sprite("closed_active.png");
}

@view(sc-button-view.sc-disclosure-view).sel.active img {
  background:sprite("open_active.png");
}

/* As a generic sprite */
img.disclosure.button {
  width: 8px;
  height: 8px;
}

img.disclosure.button.open {
  background:sprite("open.png");
}

img.disclosure.button.open.active {
  background:sprite("open_active.png");
}

img.disclosure.button.closed {
  background:sprite("closed.png");
}

img.disclosure.button.closed.active {
  background:sprite("closed_active.png");
}