@theme(sc-regular-size)

@view(sc-checkbox) span.button {
  background: sprite("checkbox.png");
  width: 16px;
  height:17px;
}

@view(sc-checkbox).sel span.button {
  background: sprite("checkbox_checked.png");
}

@view(sc-checkbox).mixed span.button {
  background: sprite("checkbox_mixed.png");
}

@view(sc-checkbox).active span.button {
  background: sprite("checkbox_active.png");
}

@view(sc-checkbox).sel.active span.button {
  background: sprite("checkbox_checked_active.png");
  color:#000;
}

@view(sc-checkbox).mixed.active span.button {
  background: sprite("checkbox_mixed_active.png");
}


@view(sc-checkbox-view).disabled span.button {
  opacity: 1;
  background: sprite("checkbox_disabled.png");
}

@view(sc-checkbox-view).disabled.sel span.button {
  opacity: 1;
  background: sprite("checkbox_checked_disabled.png");
}

@end